
#new-post {
  background-color: rgba(28, 22, 22, 0.26);
}

#new-post > .row {
  margin: 10px!important;
}


.black-box {
  background-color: rgba(28, 22, 22, 0.26);
  margin: 10px!important;
  border-radius: 25px;
}


hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.top-heading {
	font-weight: bold;
  font-size: 80px;
}

.sec-heading {
  font-weight: bold;
  font-size: 50px;
}


.query-heading {
  font-weight: bold;
  font-size: 40px;
}

#seeker-main > .row {
  text-align: center!important;
  display: block;
  margin: 15px 0;
}

.btn-main {
  width: 500px;
  height: 100px;
}


.greenbox {
  background: rgba(0, 175, 80, 0.4);;
}

.redbox {
  background: rgba(255, 0, 20, 0.3);;
}

.yellowbox {
  background: rgba(255, 204, 0, 0.3);;
}

.caps_class {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}

.vote-divider {
  background-color: black;
  height: 1px;
}

