{% extends 'base.html' %}

{% block mainbody %}
    <div class="container h-100">
        <div class="row" style="text-align: center;">
            <div class="col-lg-12 my-auto" >
                <div style="height: 50px"> </div>
                <img src="{{ url_for('static', filename = user_picture_filename) }}" style="width:250px; " alt="User Icon">
                <h1 style="font-weight: bold;">{{ username }}</h1>
                <h2>Answerer</h2>
            </div>
        </div>
        <div class="black-box" style="text-align: center; padding: 40px">
            <div class="row"  >
                <div class="col-md-6">
                    <h2 style="font-weight: bold;">Global Rank</h2>
                    <h4> 1343/25000 </h4>
                </div>

                <div class="col-md-6">
                    <h2 style="font-weight: bold;">Country Rank</h2>
                    <h4> 56/2004 </h4>
                </div>
            </div>
            <hr style="border-color: white">
      
            <h2 style="font-weight: bold;">Badges</h2>
            <div class="row"> 
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename = 'folder.png') }}" style="width:100px; " alt="User Badge">
                </div>
                 <div class="col-md-3">
                    <img src="{{ url_for('static', filename = 'love.png') }}" style="width:100px; " alt="User Badge">
                </div>
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename = 'report.svg') }}" style="width:100px; " alt="User Badge">
                </div>
                <div class="col-md-3">
                    <img src="{{ url_for('static', filename = 'strawberry.png') }}" style="width:100px; " alt="User Badge">
                </div>
            </div>
        </div>
    </div>
{% endblock %}