{% extends 'base.html' %}

{% block mainbody %}


    {% if g.user %}
    <div class="container" style="padding-top: 100px">
      <div style="text-align: center;">
        <h1 class="top-heading"> Answer </h1>
      </div>
      <div class="black-box">
        <div class="row">
          <div class="col-md-12" style="padding:45px">
            <h1 class="sec-heading">Title: {{ res.title }}</h1>
            <h2>Subtitle: {{ res.subtitle }}</h2> <!-- subtitle info -->
            <h2>Category: {{ res.category }}</h2> <!-- category info -->
            <div class="img-display" >
              <img src="{{ res.pic_filename }}" alt="image for the query"/>
            </div>
          </div>
        </div>
        
       
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <form action="{{ url_for('post_answer') }}" method="post" >
              <div class="form-group">
                <label for="comment context">Posting as {{g.user['username']}}</label>
                <textarea class="form-control" name="answer" rows="3" placeholder="What do you see in the picture?"></textarea>
                <input class="rnd-btn" style="margin-top: 20px" type="submit" name="submit answer" class="rnd-btn"  value="submit answer">
              </div>
            </form>
          </div>
          <div class="col-md-2">
          </div>
        </div>

        <div class="row" style="height: 30px;">  </div>

      </div>
    </div>


    {% endif %}

{% endblock %}

{% block content %}

{% endblock %}
