{% extends 'base.html' %}

{% block mainbody %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>

      $(function() {
        $('input#main_text').bind('click', function() {
          clicked = $(this).attr("text");
          $.ajax({
            type : 'POST',
            url : "{{url_for('index')}}",
            contentType: 'application/json;charset=UTF-8',
            data : {'name': 'startdemo',},
          }).delay(400).done(updateFunction);
        });
      })

      function handleFileSelect(evt) {
        var files = evt.target.files;
        var f = files[0];
        var reader = new FileReader();
         
        reader.onload = (function(theFile) {
              return function(e) {
                document.getElementById('list').innerHTML = ['<img src="', e.target.result,'" title="', theFile.name, '" width="400" />'].join('');
              };
        })(f);
           
        reader.readAsDataURL(f);
      }

      $(document).ready(function() {
        console.log( "ready!" );
        document.getElementById('fileToUpload').addEventListener('change', handleFileSelect, false);
      });
      
    </script>

    {% if g.user %}
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-6 my-auto">
                    <form action="/upload_file" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input type="text" name = "title" class="form-control" placeholder="Enter image title" id="exampleInputEmail1">
                            <label for="exampleInputEmail2">Subtitle</label>
                            <input type="text" name = "subtitle" class="form-control" placeholder="Enter image subtitle" id="exampleInputEmail2">
                            <label for="exampleFormControlSelect1">Category Select</label>
                            <select class="form-control" name="category" id="category">
                                <option value="food_">Food</option>
                                <option value="drink_">Drink</option>
                                <option value="text_menu">Menus</option>
                                <option value="text_sign">Signs</option>
                                <option value="animal_">Animals</option>
                                <option value="abstract_">Miscellaneous</option>
                            </select>
                            <input type="file" name="file" id="fileToUpload" accept="image/*">
                        </div>
                        <button type="submit" class="rnd-btn btn-primary mb-2">Upload Image</button>
                    </form>
                </div>
                <div class="col-lg-6 my-auto">
                  <output id="list"></output>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block content %}

{% endblock %}
