{% extends 'base.html' %}

{% block mainbody %}


    {% if g.user %}
    <div class="container" style="padding-top: 100px">
      <div style="text-align: center;">
        <h1 class="top-heading"> Vote </h1>
      </div>
      <div class="black-box">
        <div class="row">
          <div class="col-md-12" style="padding:45px">
            <h1 class="sec-heading">Title: {{ res.title }}</h1>
            <h2>Subtitle: {{ res.subtitle }}</h2> <!-- subtitle info -->
            <h2>Category: {{ res.category }}</h2> <!-- category info -->
            <div class="img-display" >
              <img src="{{ request.url_root + 'static/uploads/' + res.pic_filename }}"  style="width:300px" alt="image for the query"/>
            </div>
          </div>
        </div>
        
       
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            {% for curr_answer, net_upvotes in answers %}
                <div class="vote-divider"> </div>
                <div class="black-box"> 
                  <div class="row">
                    <div class="col-md-1"> 
                    </div>
                    <div class="col-md-1"> 
                      <div class=row> 
                         <a href="{{ url_for('vote_answer', query_id=res.id , answer_id = curr_answer.id, up=1) }}">
                           <img src="{{ url_for('static', filename = 'chevron-arrow-up.svg') }}" style="width:50px; " alt="Up arrow">
                         </a>
                      </div>
                      <div class=row> 
                        <h5 style="margin-left:15px">{{net_upvotes}} </h5>
                      </div>
                      <div class=row> 
                         <a href="{{ url_for('vote_answer', query_id=res.id , answer_id = curr_answer.id, up=0) }}">
                           <img src="{{ url_for('static', filename = 'down.svg') }}" style="width:50px; " alt="Down arrow" >
                         </a>
                      </div>
                    </div>
                    <div class="col-md-9" style="padding-top:15px;"> 
                      <h6 class="caps_class"> Posted by {{curr_answer.username}} </h6>
                      <h2>{{curr_answer.content}} </h2>
                    </div>
                    <div class="col-md-1"> 
                    </div>
                  </div>
                </div>
            {% endfor %}
            <div class="vote-divider"> </div>

            <div style="height:20px"> </div>

            <form action="{{ url_for('post_answer', query_id=query_id) }}" method="post" >
              <div class="form-group">
                <label for="comment context"> Don't see any satisfactory answers? Contribute your answer below. </label>
                <textarea class="form-control" name="answer" rows="3" placeholder="Your answer here."></textarea>

                <input class="rnd-btn" style="margin-top: 20px" type="submit" name="submit answer" class="rnd-btn"  value="submit answer">
              </div>
            </form>
          </div>
          <div class="col-md-1">
          </div>
        </div>

        <div class="row" style="height: 30px;">  </div>

      </div>
    </div>


    {% endif %}

{% endblock %}

{% block content %}

{% endblock %}
